[Unit]
Description=GoSpatial Api Server
After=network.target

[Service]
User=root
Group=root
#ExecStart=/bin/bash -c 'cd ~/gospatial; ./server -c ~/gospatial/settings.json'
ExecStart=/bin/bash -c 'cd ~/gospatial; ./server -db bolt -s 7q1qcqmsxnvw -p 8888'
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target