<!DOCTYPE html>
<html>
    <head>
        
        <meta charset=utf-8 />
        <title>Go Geospatial</title>

        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        <!-- <script>L_PREFER_CANVAS = true;</script> -->

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

        <!--  Leaflet.draw  -->
        <script src="/Leaflet.draw-master/Leaflet.draw.js"></script>
        <link rel="stylesheet" href="/Leaflet.draw/dist/leaflet.draw.css" />
        <script src="/Leaflet.draw-master/Toolbar.js"></script>
        <script src="/Leaflet.draw-master/Tooltip.js"></script>
        <script src="/Leaflet.draw-master/ext/TouchEvents.js"></script>
        <script src="/Leaflet.draw-master/ext/GeometryUtil.js"></script>
        <script src="/Leaflet.draw-master/ext/LatLngUtil.js"></script>
        <script src="/Leaflet.draw-master/ext/LineUtil.Intersect.js"></script>
        <script src="/Leaflet.draw-master/ext/Polygon.Intersect.js"></script>
        <script src="/Leaflet.draw-master/ext/Polyline.Intersect.js"></script>
        <script src="/Leaflet.draw-master/draw/DrawToolbar.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Feature.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.SimpleShape.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Polyline.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Circle.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Marker.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Polygon.js"></script>
        <script src="/Leaflet.draw-master/draw/handler/Draw.Rectangle.js"></script>
        <script src="/Leaflet.draw-master/edit/EditToolbar.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/EditToolbar.Edit.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/EditToolbar.Delete.js"></script>
        <script src="/Leaflet.draw-master/Control.Draw.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/Edit.Poly.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/Edit.SimpleShape.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/Edit.Circle.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/Edit.Rectangle.js"></script>
        <script src="/Leaflet.draw-master/edit/handler/Edit.Marker.js"></script>
        <script src="/Leaflet.draw-master/Leaflet.Draw.Event.js"></script>

        <!--  Leaflet.measure  -->
        <script src="/leaflet.measure/leaflet.measure.js"></script>
        <link rel="stylesheet" href="/leaflet.measure/leaflet.measure.css" />

        <!-- Leaflet.geosearch -->
        <script src="/L.GeoSearch/src/js/l.control.geosearch.js"></script>
        <script src="/L.GeoSearch/src/js/l.geosearch.provider.openstreetmap.js"></script>
        <link rel="stylesheet" href="/L.GeoSearch/src/css/l.geosearch.css" />

        <!-- Leaflet.buildings -->
        <script src="/osmbuildings/dist/OSMBuildings-Leaflet.js"></script>

        <!-- JQuery -->
        <script src="/jquery/jquery.js"></script>
        <script src="/jquery/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/jquery/jquery-ui.min.css" />

        <!-- D3 -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/startbootstrap-grayscale-1.0.6/js/bootstrap.min.js"></script>
        <link href="/startbootstrap-grayscale-1.0.6/css/bootstrap.min.css" rel="stylesheet">

		<!-- Sweet Alert for Bootstrap -->
		<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.2/sweetalert2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.2/sweetalert2.min.css">

        <!-- Toastr.js -->
        <script src="/toastr/build/toastr.min.js"></script>
        <link rel="stylesheet" href="/toastr/build/toastr.min.css" />

        <!-- LOCATE CONTROL -->
        <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/leaflet.locate/L.Control.Locate.min.css" />
        <script src="/leaflet.locate/L.Control.Locate.min.js" ></script>

        <!-- Backbone -->
        <script src="/underscore/underscore-min.js"></script>
        <script src="/backbone/backbone-min.js"></script>

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">

        <!-- SwalJSON -->
        <script src='/swalerror/SwalJSON.js?{{.Version}}'></script> 
        <link href="/swalerror/SwalJSON.css?{{.Version}}" rel="stylesheet">

        <!-- MapClient -->
        <script src="/gospatialjs/Utils.js?{{.Version}}"></script>
        <script src="/gospatialjs/gospatial-api.js?{{.Version}}"></script>
        <script src='/gospatialjs/L.DrawMap.js?{{.Version}}'></script> 
        <script src='/gospatialjs/L.ChoroplethLayer.js?{{.Version}}'></script> 
        <script src='/gospatialjs/MapView.js?{{.Version}}'></script>
        <link href="/gospatialjs/find-style.css?{{.Version}}" rel="stylesheet">

    </head>
    <body>

        <div id='error'>
            <div class='err'>
                <span></span>
            </div>
            <div class='err'>
                <img class='error' src='/images/error.png'>
            </div>
        </div>

        <div id='map'> </div>

        <script>

            var App;

            $(function(){
                $("#error").hide();
                App = new MapView("map", {{.Apikey}});
            });

        </script>

    </body>
</html>
